<nav>
    <ul id="nav_list">
        <li id="nav_list_item"><a href="main">Home</a></li>
        <li id="nav_list_item"><a href="upload">Upload Files</a></li>
        <li id="nav_list_item"><a href="">API instructions</a></li>
        <li id="nav_list_item"><a href="">PDF reports</a></li>
        <li id="nav_list_item"><a href="">Register user</a></li>
        <li id="nav_list_item"><a href="">Site map</a></li>
        <li id="nav_list_item"><a href="contact">Contact us</a></li>
    </ul>
</nav>
