<nav th:fragment="myNav">
    <ul id="nav_list">
        <li id="nav_list_item"><a href="main">Home</a></li>
        <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_GOD')" id="nav_list_item"><a href="upload">Upload Files</a></li>
        <li id="nav_list_item"><a href="api_docs">API instructions</a></li>
        <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_GOD')" id="nav_list_item"><a href="pdf_reports">PDF reports</a></li>
        <li id="nav_list_item"><a href="registration">Register user</a></li>
        <li id="nav_list_item"><a href="site_map">Site map</a></li>
        <li id="nav_list_item"><a href="contact">Contact us</a></li>
    </ul>
</nav>
