<!DOCTYPE html>
<html>
    <head>
        <title>Who's there - Contact us</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async='defer'> </script>
         
    </head>
        
    <body>
        
        <!-- Insert header -->
        <header id="header" th:replace="header::myHeader"></header>
        
        <!-- Insert navigation bar -->
        <aside id="nav_bar">
            <nav th:replace="admin_nav_bar::myNav" />
        </aside>
        
        <!--    Contact us form    -->
        <div id="contact_box">
            <p class="title">Contact us</p>
            <div class="stretch">
                <br/>
                <div>
                    <div id="contacts">
                        <img id="iconad" src="img/address.png" alt="Address"/><p class="input">School of Computer Science &amp; Informatics,<br/> University College Dublin,<br/>Belfield,<br/>Dublin 4, Ireland</p>
                        <img class="icons" src="img/phone.png" alt="Phone"/><p class="input">+353 1 716 2483</p>
                        <img class="icons" src="img/mail.png" alt="E-mail"/><p class="input">emailaddress@gmail.com</p>
                    </div>
                </div>
            
                <form id="contact_form" action="#" th:action="@{/contact}" th:object="${contactModel}" method="post">
                    <input type="text" th:field="*{Name}" class="login" placeholder="Your name"/>
                    <input type="email" th:field="*{Email}" class="login" placeholder="E-mail"/>
                    <input type="text" th:field="*{Msg}" id="textarea" placeholder="Message"/>
                    <button type="submit" id="contact_btn" class="login">SUBMIT</button>
                </form>
            </div>
            
        <div id="contact_map"></div>
                <script>
                    //<![CDATA[
                  function initMap() {
                    var mapDiv = document.getElementById('contact_map');
                    var map = new google.maps.Map(mapDiv, {
                      center: {lat:53.309294, lng: -6.223747},
                      zoom: 14
                    });
                  }
                    //]]>
                </script>
        </div>
        
        
         <!-- Insert footer -->
        <div id="footer"></div>
        <script> 
            //<![CDATA[
            $(function(){
                $("#footer").load("footer.html");
            });
            //]]>
        </script>
        
    </body>
</html>