<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Who's there - Login</title>

        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:attr="href=@{/css/style.css}" />
<!--        <link rel="stylesheet" type="text/css" href="/css/style.css" th:attr="href=@{/css/style.css}" />-->
        
        <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
<!--        <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>-->
        
        <!--   Local javascript      -->
        <script src="../static/js/main.js"></script>
        <script src="../static/js/leaflet.js"></script>
        <!--   JQery     -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/core.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" />
         
    </head>
    <body>
        <!-- Insert header -->
        <header id="header" th:replace="header::myHeader"></header>
    
        <!--  Search form: by building, module and date     -->
        <section id="search_section">
            <form id="search_form">
                <select id="building" class="search_select">
                    <option>Select a building</option>                 
                </select>
                <select id="classroom" class="search_select">
                    <option>Select a classroom</option>
                </select>
                <input type="date" name="date" class="search_select"/>
                <button type="submit" id="search_btn">Search</button>
            </form>
        </section>
        
        
        <!-- Insert navigation bar -->
        <aside id="nav_bar">
            <nav th:replace="admin_nav_bar::myNav" />
        </aside>
        <main>
            <img class="error" src="img/error.jpg"/>
        
        </main>
         <!-- Insert footer -->
        <div id="footer">
            <footer th:replace="footer::myFooter" />
        </div>
    </body>
</html>