<!--<link rel="stylesheet" type="text/css" href="../static/css/style.css" />-->
<link rel="stylesheet" type="text/css" href="/css/style.css" />

<footer th:fragment="myFooter">
        <ul>
            <li><a href="main.html">Home</a></li>
            <li><a href="">Privacy &amp; term</a></li>
            <li><a href="">Site Map</a></li>
            <li><a href="">Contact us</a></li>
        </ul> 
        <p id="copyright">&copy; 2016 Who's there. All right reserved &nbsp;&nbsp;&nbsp;</p>
</footer>
