<!--<link rel="stylesheet" type="text/css" href="../static/css/style.css" />-->

<link rel="stylesheet" type="text/css" href="/css/style.css" />

<header th:fragment="myHeader">
    <img id="logo" alt="logo" src="/img/logo.png"/>
<!--    <img id="logo" alt="logo" src="../static/img/logo.png"/>-->
    <p id="title">Who's there?</p>
    <form th:action="@{/logout}" method="post">
    <input type="image" id="logout" name="submit" src="/img/log_out.png" alt="Log Out" />
    </form>
<!--    <img id="logout" alt="logout" src="../static/img/log_out.png"/>-->
    
</header>
