<!--<link rel="stylesheet" type="text/css" href="../static/css/style.css" />-->

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<logout logout-success-url="/" logout-url="/logout" />
<header>
    <img id="logo" alt="logo" src="/img/logo.png"/>
<!--    <img id="logo" alt="logo" src="../static/img/logo.png"/>-->
    <p id="title">Who's there?</p>
    <c:url value="/logout" var="logoutUrl" />
    <a href="/logout"><img id="logout" alt="logout" src="/img/log_out.png"/></a>
<!--    <img id="logout" alt="logout" src="../static/img/log_out.png"/>-->
    
</header>
