<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title tiles:fragment="title">Messages : Create</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:attr="href=@{/css/style.css}" />
                
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body>
    <div tiles:fragment="content" id="login_box">
        <form name="f" th:action="@{/login}" method="post" id="login_form">
            <fieldset id="login_fieldset">
                <div th:if="${param.error}" class="alert alert-error">    
                    <p id="login_error">Invalid username and password.</p>
                </div>
                <div th:if="${param.logout}" class="alert alert-success"> 
                    <p id="logout_success">You have been logged out.</p>
                </div>
                <div th:if="${param.newaccount}" class="alert alert-success">    
                    <p id="logout_success">Your Account has been created, please login.</p>
                </div>
                <input type="text" id="username" name="username" class="login" placeholder="username"/>        
                <input type="password" id="password" name="password" class="login" placeholder="password" />    
                <div class="form-actions" style="text-align:center;">
                    
                    <button type="submit" class="login" id="login_btn">Log in</button><br/><br/>
                    
                    <a href="registration">Click to register as a new user</a>
                    
                </div>
            </fieldset>
        </form>
    </div>
  </body>
</html>