<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Who's there - Login</title>

        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:attr="href=@{/css/style.css}" />
<!--        <link rel="stylesheet" type="text/css" href="/css/style.css" th:attr="href=@{/css/style.css}" />-->
        
        <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
<!--        <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>-->
        
        <!--   Local javascript      -->
        <script src="js/main.js"></script>
        <script src="js/leaflet.js"></script>
        <!--   JQery     -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/core.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" />
         
    </head>
    <body>
        <!-- Insert header -->
        <header id="header" th:replace="header::myHeader"></header>
    
        <!--  Search form: by building, module and date     -->
        <section id="search_section">
            <form id="search_form">
                <select id="building" class="search_select">
                    <option>Select a building</option>                 
                </select>
                <select id="classroom" class="search_select">
                    <option>Select a classroom</option>
                </select>
                <input type="date" name="date" class="search_select"/>
                <button type="submit" id="search_btn">Search</button>
            </form>
        </section>
        
        
        <!-- Insert navigation bar -->
        <aside id="nav_bar">
            <nav th:replace="admin_nav_bar::myNav" />
        </aside>
            <main id="main">

            <!-- Map -->
            <section id="map">
                
            </section>
            
            <!-- Section for floor plan and classroom info  -->
            <section id="info_section">
                <button id="to_map_btn">Back to map</button>
                
                <h3 id="building_title"></h3>
                <p id="no_info_error"></p>
                
                <div id="main_dynamic_map">
                    <div id="floor_no">  
                        <form class="floor_form_input" onclick="genearteMap()">
                            Select floor no => 
                            <input type="radio" name="floor_no" value="ground" checked="checked"/>Ground Floor
                          <input type="radio" name="floor_no" value="first" />First Floor<br/>
                        </form>
                    </div>

                    <div id="floor_plan_wrap"></div>

                    <div class="slider_bar" id="slider_div">
                        <div>
                            <p>Key: 
                                <button class="button button3">Low</button>
                                <button class="button button2">Medium</button>
                                <button class="button">High</button>
                            </p>

                        </div>
                        <div>
                             Select a time. One hour increments:
                            <input class="slider_outptu" type="text" id="amount" /><br/><br/>
                        </div>
                        <div>
                            <div id="slider" onclick="genearteMap()"></div>
                            <textarea id="slider_value" rows="1" cols="50">Yes</textarea>
                        </div>
                    </div>
                </div>
            </section>
            
            
                <!--  Jqeuy slider  -->
                <script>
                //<![CDATA[
                    
                    String.prototype.splice = function(idx, rem, str) {
                        return this.slice(0, idx) + str + this.slice(idx + Math.abs(rem));
                    };
                    
                    //This should have each valid amount that can be selected in the slider 
                    var sliderAmountMap = [900, 1000, 1100, 1200, 1300,1400,1500,1600]; // 1700 left out
                    var slider_value;
                    
                    $(function() {
                        $( "#slider" ).slider({
                            value: 0, //array index of onload selected default value on slider, for example, 45000 in same array will be selected as default on load
                            min: 0, //the values will be from 0 to array length-1
                            
                            max: sliderAmountMap.length-1, //the max length, slider will snap until this point in equal width increments
                            slide: function( event, ui ) {
                                var time = sliderAmountMap[ui.value]
                                var stime = time.toString();
                                var result = stime.splice(-2, 0, ":00:");
                                window.slider_value = time;
                                
                            $( "#amount" ).val(result); //map selected "value" with lookup array
                            $( "#slider_value" ).val(result);
                            }
                        });
                        $( "#amount" ).val("9:00:00");//map selected "value" with lookup array
                        $( "#slider_value" ).val("9:00:00");
                    });
                //]]>
                </script>
            
            <script>
            document.getElementById("to_map_btn").addEventListener("click", showMap);

            function showMap() {
                document.getElementById("map").style.display = 'block';
                document.getElementById("info_section").style.display = 'none';
            }
            </script>

            <script>
                //<![CDATA[
                
                // Function to call api
                
//                console.log(dataResponse["Room_no"]);
                var keys = [];
                // Generate list of keys
                for(var k in dataResponse["Room_no"]) keys.push(k);
//                console.log(keys[0]);
                
                var x = document.getElementById("building");
                    for (var buildingkey in dataResponse){
                        var option = document.createElement("option");
                        var arr = $.map(dataResponse["Room_no"], function(el) { return el });
                        option.text = arr[0].Building;
                        x.add(option);
                    }

                    var classroom = document.getElementById("classroom");
                    building.addEventListener("change", function() {
                        classroom.innerHTML = "";
                        var option = document.createElement("option");
                        option.text = "Select a classroom";
                        classroom.add(option);
                        var optionList = building.querySelectorAll("option");
                        var selected = building.options[building.selectedIndex].text;     
                        
                        if (selected == "Computer Science and Informatics Centre") {
                            for (var i = 0; i < keys.length; i++){
                                var option = document.createElement("option");
                                option.text = keys[i];
                                classroom.add(option);
                            }
                        }
                        else {
                            document.getElementById('classroom').options.length = 0;
                            var option = document.createElement("option");
                            option.text = "Select a classroom";
                            classroom.add(option);
                        }
                        
                    });     
                //]]>
            </script>

                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAysaK-xaVpMze3R5nJp1hniuflmN0tCfY&amp;callback=initMap"
            defer = "defer"></script>
            <script>
                //<![CDATA[
                
                var map;
                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 53.307722, lng: -6.222274},
                    zoom: 16,
                        //silvia: for moving the map controller on the right, so I can put nav bar on the left 
                    mapTypeControl: true,
                    mapTypeControlOptions: {
                        style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                        position: google.maps.ControlPosition.TOP_RIGHT
                        },
                    });
                    setMarkers();
                }

                // Place markers on the map over each building
                function setMarkers(){
                    var markers = [];
                    var marker;

                    // Coordinates for some buildings -  hardcoded for now - needs to be discussed
                    var buildingList = [
                        ["O’Brien Centre for Science (Hub)", 53.308274, -6.224443],
                        ["O’Brien Centre for Science (North)", 53.308970, -6.224218],
                        ["O’Brien Centre for Science (East)", 53.308470, -6.223633],
                        ["O’Brien Centre for Science (West)", 53.308265, -6.225269],
                        ["Computer Science and Informatics Centre", 53.309294, -6.223747],
                        ];

                    // Iterate through building list to place marker over each building
                    for (var i = 0; i < buildingList.length; i++){  
                        var name = buildingList[i][0];
                        var lat = buildingList[i][1];
                        var long = buildingList[i][2];        
                        var latlngset = new google.maps.LatLng(lat, long);

                        // Create new marker
                        var marker = new google.maps.Marker({  
                            map: map, 
                            title: name, 
                            position: latlngset
                        });
                        
                        // Give an id for marker matching building name in order to load 
                        // corresponding building information on click
                        marker.metadata = {type: "point", id: name};
//                        console.log(name);

                        // Add listener to marker: show info section
                        marker.addListener('click', function(){
                            document.getElementById("info_section").style.display = 'block';
                            document.getElementById("map").style.display = 'none';
                            displayBuildingInfo(this);
                        });

                        // Add marker to array
                        markers.push(marker);
                    }
                    
                    function displayBuildingInfo(marker){
                        document.getElementById("building_title").innerHTML = marker.metadata.id;
//                        console.log(document.getElementById("building_title").innerHTML);
                        if(marker.metadata.id == "Computer Science and Informatics Centre"){
                            document.getElementById("main_dynamic_map").style.display = 'block';
                            genearteMap ();
                            document.getElementById("floor_plan").style.display = 'block'; document.getElementById("no_info_error").style.display = 'none';
                        }else{
                            document.getElementById("no_info_error").innerHTML = "Sorry, no information for this building yet!"
                            document.getElementById("no_info_error").style.display = 'block';
                            document.getElementById("main_dynamic_map").style.display = 'none';
                        }
                    }
                }
                
                //]]>
            </script>
                
                <script src="js/main.js" async = "async" defer = "defer"></script>
            

        </main>
         <!-- Insert footer -->
        <div id="footer">
            <footer th:replace="footer::myFooter" />
        </div>
    </body>
</html>
    
