<!DOCTYPE html>
<html>
    <head>
        <title>Who's there - Login</title>

        <link rel="stylesheet" type="text/css" href="/css/style.css" th:attr="href=@{/css/style.css}" />
                
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        
        <script>
            //<![CDATA[
            var dataResponse = "";
            var url = 'http://localhost:8080/api/tablesearch?request=Room&key=Buildling'
            var xmr = new XMLHttpRequest();
            xmr.open("GET", url, false);
            xmr.onreadystatechange = function(oEvent) {
            if (xmr.readyState === 4) {
                if (xmr.status === 200) {
                    dataResponse = JSON.parse(xmr.responseText);
                } else {
                    console.log("Error", xmr.statusText)
                }
            }
        }
            xmr.send(null);
            //]]>
        </script>
         
    </head>
    
    <body>
        <!-- Insert header -->
        <div id="header"></div>
        <script> 
            //<![CDATA[
            $(function(){
                $("#header").load("header.html");
            });
            //]]>
        </script>
    
        <!--  Search form: by building, module and date     -->
        <section id="search_section">
            <form id="search_form">
                <select id="building" class="search_select">
                    <option>Select a building</option>                 
                </select>
                <select id="classroom" class="search_select">
                    <option>Select a classroom</option>
                </select>
                <input type="date" name="date" class="search_select"/>
                <button type="submit" id="search_btn">Search</button>
            </form>
        </section>
        
        <!-- Map - using Google Maps for now -->
        <main id="map"></main>
        
        <script>
            //<![CDATA[
            var x = document.getElementById("building");
                for (var buildingkey in dataResponse){
                    var option = document.createElement("option");
                    option.text = dataResponse[buildingkey][0]["Buildling"];
                    x.add(option);
                }
                
                var classroom = document.getElementById("classroom");
                building.addEventListener("change", function() {
                    classroom.innerHTML = "";
                    var option = document.createElement("option");
                    option.text = "Select a classroom";
                    classroom.add(option);
                    var optionList = building.querySelectorAll("option");
                    var selected = building.options[building.selectedIndex].text;
                    if (typeof dataResponse[selected] !== "undefined") {
                        for (var i = 0; i < dataResponse[selected].length; i++){
                            var option = document.createElement("option");
                            option.text = dataResponse[selected][i]["Room_no"];
                            classroom.add(option);
                        }
                    }
                });            
            //]]>
        </script>
        
        <script>
            //<![CDATA[
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 53.307722, lng: -6.222274},
                zoom: 15,
                    //silvia: for moving the map controller on the right, so I can put nav bar on the left 
                mapTypeControl: true,
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                    position: google.maps.ControlPosition.TOP_RIGHT
                    },
                });
                setMarkers();
            }
            
            // Place markers on the map over each building
            function setMarkers(){
                var markers = [];
                var marker;
                
                // Coordinates for some buildings -  hardcoded for now - needs to be discussed
                var buildingList = [
                    ["Agriculture and Food Science Centre", 53.307386, -6.224636],
                    ["UCD Centre for Molecular Innovation", 53.307594, -6.223812],
                    ["Centre for Research in Infectious Diseases (CRID)", 53.308273, -6.219811],
                    ["Centre for Synthesis and Chemical Biology (CSCB)", 53.307829, -6.223185],
                    ["UCD Clinton Centre for American Studies", 53.306497, -6.215293],
                    ["UCD Computer Science and Informatics Centre", 53.309294, -6.223747],
                    ["UCD Charles Institute of Dermatology", 53.310111, -6.225585],
                    ["UCD Computer Centre", 53.309482, -6.224118],
                    ["UCD Conway Institute", 53.310869, -6.224472],
                    ["Daedalus Building", 53.306321, -6.219598],
                    ["Energy Centre", 53.308771, -6.232067],
                    ["UCD Engineering & Materials Science Centre", 53.306425, -6.218109],
                    ["Environmental Protection Agency", 53.311541, -6.234450],
                    ["UCD Geary Institute (Arts Annexe)", 53.303754, -6.222005],
                    ["Gerard Manley Hopkins Centre", 53.305436, -6.219770],
                    ["Hanna Sheehy-Skeffington Building", 53.304117, -6.222479],
                    ["Health Sciences Centre", 53.309373, -6.226163],
                    ["UCD Humanities Institute Ireland", 53.303810, -6.222866],
                    ];
                
                // Iterate through building list to place marker over each building
                for (var i = 0; i < buildingList.length; i++){  
                    var name = buildingList[i][0];
                    var lat = buildingList[i][1];
                    var long = buildingList[i][2];        
                    var latlngset = new google.maps.LatLng(lat, long);

                    // Create new marker
                    var marker = new google.maps.Marker({  
                        map: map, 
                        title: name, 
                        position: latlngset
                    });


                    // Add listener to marker
//                    marker.addListener('click', function()        {});

                    // Add marker to array
                    markers.push(marker);
                }
            }
            //]]>
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAysaK-xaVpMze3R5nJp1hniuflmN0tCfY&amp;callback=initMap"
        async = "async" defer = "defer"></script>
        
         <!-- Insert navigation bar -->
        <aside>
            <div id="nav_bar"></div>
            <script> 
                //<![CDATA[
                $(function(){
                    $("#nav_bar").load("nav_bar.html");
                });
                //]]>
            </script>
        </aside>
        
         <!-- Insert footer -->
        <div id="footer"></div>
        <script> 
            //<![CDATA[
            $(function(){
                $("#footer").load("footer.html");
            });
            //]]>
        </script>
    </body>
</html>
    
