<!DOCTYPE html>
<html>
    <head>
        <title>Who's there - PDF reports</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:attr="href=@{/css/style.css}" />
                
        
    
         
    </head>
        
    <body>
        
        <!-- Insert header -->
        <header id="header" th:replace="header::myHeader"></header>
        
        <!-- Insert navigation bar -->
        <aside id="nav_bar">
            <nav th:replace="admin_nav_bar::myNav" />
        </aside>
        
        <!--    Content section    -->
        <div id="contact_box">
            <h2>PDF reports</h2>
            <!--      connected to a function for greeting the user according to the time of the day -->
                <p id="greetings"> </p>
            <!--      Upload instruciton      -->
                <p>
                    In this page you can download the daily PDF reports for the class and the day selected. 
                    To obtain the PDF complete the form below with the desired value and hit submit. The PDF will be generated and it can be download pressing the button below.
                </p>
             
                <div id="form_container">  
                        <form id="pdf_form" action="#" th:action="@{/pdf_reports}" th:object="${searchModel}" method="post">
                            <select id="building" class="PDF_form_input">
                                <option value="Test" >Select a building</option>                 
                            </select>
                            <select id="room" class="PDF_form_input" th:field="*{SearchMethod}">
                                <option value="Test">Select a classroom</option>
                            </select>
                                <input type="date" name="date" class="PDF_form_input" th:field="*{SearchTerms}"/>
                                <button type="submit" id="pdf_btn">Download here!</button>
                        </form>
                </div>
                
            </div>
            
                
    

        
        
        
         <!-- Insert footer -->
        <div id="footer">
            <footer th:replace="footer::myFooter" />
        </div>
        <script>
            //<![CDATA[
            hr = new Date().getHours();
            console.log(hr);
            var text;
            switch (hr) {
                    case 0:
                    case 1:
                    case 2:
                    case 3:
                    case 4:
                    case 5:
                        text = "Good Night User!";
                        break; 
                    case 6:
                    case 7:
                    case 8:
                    case 9:
                    case 10:
                    case 11:
                    case 12:
                       text = "Good Morning User!";
                        break; 
                    case 13:
                    case 14:
                    case 15:
                    case 16:
                    case 17:
                    case 18:
                       text = "Good Afternoon User!";
                        break;
                    case 19:
                    case 20:
                    case 21:
                    case 22:
                    case 23:
                        text = "Good Evening User!";
                        break;
                    default: 
                        text = "Hello User!"
            }
                document.getElementById("greetings").innerHTML = text;
                 

            // Function to call api
            load_data_response('http://csi420-01-vm1.ucd.ie/api/tablesearch?request=Room&key=Building')
            function load_data_response (url) { 
            //    var url = 'http://csi420-01-vm1.ucd.ie:8080/api/data?request=Date&Date=2015/11/11'
                var xmr = new XMLHttpRequest();
                xmr.open("GET", url, false);
                xmr.onreadystatechange = function(oEvent) {
                    if (xmr.readyState === 4) {
                        if (xmr.status === 200) {
                            window.dataResponse = JSON.parse(xmr.responseText);

                        } else {
                            console.log("Error", xmr.statusText)
                        }
                    }
                }
                xmr.send(null);

            }            
                
                var x = document.getElementById("building");
                    for (var buildingkey in dataResponse){
                        var option = document.createElement("option");
                        option.text = buildingkey;
                        x.add(option);
                    }

                    var classroom = document.getElementById("room");
                    building.addEventListener("change", function() {
                        classroom.innerHTML = "";
                        var option = document.createElement("option");
                        option.text = "Select a classroom";
                        classroom.add(option);
                        var optionList = building.querySelectorAll("option");
                        var selected = building.options[building.selectedIndex].text;     
                        
                        for (var i = 0; i < dataResponse[selected].length; i++){
                            var option = document.createElement("option");
                            option.text = dataResponse[selected][i]["Room_no"];
                            classroom.add(option);
                        }
                        
                    });     
                //]]>
             
            

            
        </script>
    </body>
</html>