<!DOCTYPE html>
<html>
    <head>
        <title>Who's there - PDF reports</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:attr="href=@{/css/style.css}" />
                
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async='defer'> </script>
         
    </head>
        
    <body>
        
        <!-- Insert header -->
        <header id="header" th:replace="header::myHeader"></header>
        
        <!-- Insert navigation bar -->
        <aside id="nav_bar">
            <nav th:replace="admin_nav_bar::myNav" />
        </aside>
        
        <!--    Content section    -->
        <div id="contact_box">
            <h2>PDF reports</h2>
            <!--      connected to a function for greeting the user according to the time of the day -->
                <p id="greetings"> </p>
            <!--      Upload instruciton      -->
                <p>
                    In this page you can download the daily PDF reports for the class and the day selected. 
                    To obtain the PDF complete the form below with the desired value and hit submit. The PDF will be generated and it can be download pressing the button below.
                </p>
             
                <div id="form_container">  
                        <form id="pdf_form" action="#" th:action="@{/pdf_reports}" th:object="${searchModel}" method="post">
                            <select id="building" class="PDF_form_input">
                                <option>Select a building</option>                 
                            </select>
                            <select id="room" class="PDF_form_input" th:field="*{SearchMethod}">
                                <option>Select a classroom</option>
                            </select>
                                <input type="date" name="date" class="PDF_form_input" th:field="*{SearchTerms}"/>
                                <button type="submit" id="pdf_btn">Download here!</button>
                        </form>
                </div>
                
            </div>
            
                
    

        
        
        
         <!-- Insert footer -->
        <div id="footer">
            <footer th:replace="footer::myFooter" />
        </div>
        <script>
            //<![CDATA[
            hr = new Date().getHours();
            console.log(hr);
            var text;
            switch (hr) {
                    case 0:
                    case 1:
                    case 2:
                    case 3:
                    case 4:
                    case 5:
                        text = "Good Night User!";
                        break; 
                    case 6:
                    case 7:
                    case 8:
                    case 9:
                    case 10:
                    case 11:
                    case 12:
                       text = "Good Morning User!";
                        break; 
                    case 13:
                    case 14:
                    case 15:
                    case 16:
                    case 17:
                    case 18:
                       text = "Good Afternoon User!";
                        break;
                    case 19:
                    case 20:
                    case 21:
                    case 22:
                    case 23:
                        text = "Good Evening User!";
                        break;
                    default: 
                        text = "Hello User!"
            }
                document.getElementById("greetings").innerHTML = text;
                 
            //]]>
            
            
                //<![CDATA[
                
                // Function to call api
                
//                console.log(dataResponse["Room_no"]);
                var keys = [];
                // Generate list of keys
                for(var k in dataResponse["Room_no"]) keys.push(k);
//                console.log(keys[0]);
                
                var x = document.getElementById("building");
                    for (var buildingkey in dataResponse){
                        var option = document.createElement("option");
                        var arr = $.map(dataResponse["Room_no"], function(el) { return el });
                        option.text = arr[0].Building;
                        x.add(option);
                    }

                    var classroom = document.getElementById("room");
                    building.addEventListener("change", function() {
                        classroom.innerHTML = "";
                        var option = document.createElement("option");
                        option.text = "Select a classroom";
                        classroom.add(option);
                        var optionList = building.querySelectorAll("option");
                        var selected = building.options[building.selectedIndex].text;     
                        
                        if (selected == "Computer Science and Informatics Centre") {
                            for (var i = 0; i < keys.length; i++){
                                var option = document.createElement("option");
                                option.text = keys[i];
                                classroom.add(option);
                            }
                        }
                        else {
                            document.getElementById("room").options.length = 0;
                            var option = document.createElement("option");
                            option.text = "Select a classroom";
                            classroom.add(option);
                        }
                        
                    });     
                //]]>
        </script>
    </body>
</html>