<html>
    <head>
        
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:attr="href=@{/css/style.css}" />
<!--        <link rel="stylesheet" type="text/css" href="/css/style.css" th:attr="href=@{/css/style.css}" />-->
                
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    </head>
    <body>
        
        <!-- Insert header -->
        <header id="header" th:replace="header::myHeader"></header>
        
        <!-- Insert navigation bar -->
        <aside id="nav_bar">
            <nav th:replace="admin_nav_bar::myNav" />
        </aside>
        
        <!--  Templates for uploading data  -->
        <div>
        
        </div>
        <div class="holder_box">
            <p class="title">Upload data</p>
            <!--      Upload instruciton      -->
            <p style="align:center;">
                To upload data please use the format as specified in the templates show below. <br/>
                To upload multiple files first zip them.
            </p>
            
            <!--      Templaes for donwload      -->
            
            <!--  Upload form  -->
            <div class="upload_form">
                <div th:if="${message}">
                    <h2 th:text="${message}"/>
                </div>

                <div>

                    <form method="POST" enctype="multipart/form-data" action="/">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <table>
                            <tr><td>File to upload here:</td><td><input type="file" name="file" /></td></tr>
                            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
                        </table>
                    </form>
                </div>
            </div>
            
            <!--      Uplaod report messages      -->
            
        </div>

        <!-- Insert footer -->
            <div id="footer">
            <footer th:replace="footer::myFooter" />
        </div>        
        
    </body>
</html>